{
  "presets": [
    ["next/babel"]
    
  ],
  "plugins": [
    "inline-dotenv",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  
  "env": {
    "test": {
      "presets": [
        ["next/babel", {
           "preset-env": {
              "modules": "commonjs"
            }
        }]
      ]
    }
  }
}